# Streamlit and Web Dependencies
streamlit
chromadb==0.3.26
duckdb
tiktoken
langchain
langchain-community
langchain-openai
langchain-experimental
huggingface_hub==0.16.4
python-dotenv
google-generativeai
pysqlite3-binary

# LLM and Vector Processing
transformers
InstructorEmbedding
torch
torchvision
torchaudio
sentence_transformers==2.2.2

# STT (Speech-to-Text) and TTS (Text-to-Speech)
openai-whisper
SpeechRecognition
sounddevice
soundfile
gtts

# Miscellaneous Utilities
numpy
pandas
requests
typing-extensions
